@model AandN_Website.ViewModels.ProductDetailViewModel


@{
    ViewBag.Title = "Product Details";
}

<h2>@Model.Item.Name</h2>

<div>
    <img src="@Model.Item.ImageUrl" alt="@Model.Item.Name" width="200" />
    <p><strong>Description:</strong> @Model.Item.Description</p>
    <p><strong>Price:</strong> @Model.Item.Price.</p>
    <p><strong>Available Quantity:</strong> @Model.Item.AvailableQty</p>

    <form action="@Url.Action("AddToCart", "Cart")" method="post">
        <input type="hidden" name="productId" value="@Model.Item.ProductID" />
        <input type="hidden" name="name" value="@Model.Item.Name" />
        <input type="hidden" name="price" value="@Model.Item.Price" />
        <label>Quantity:</label>
        <input type="number" name="quantity" value="1" min="1" max="@Model.Item.AvailableQty" />
        <button type="submit">Add to Cart</button>
    </form>
</div>
